$color-white: #fff;
$color-black: #000;

$main-color: #000090

;
$color--text-main: #3e3e3e;
$color--text-main-light: #8b96a5;
$color--text-main-dark: #51554f;
$color--text-main-darker: #464646;
$color-light: #aab3bf;

$color--accent: #009fd9;
$color--secondary: #99d8f0;
$color--error-background: rgba(218, 82, 31, 0.1);
$color--error-text:#df5c22;
$color--success-background: rgba(102, 175, 60, 0.1);
$color--success-text: #71b844;
$color--warning-background: rgba(247, 181, 0, 0.1);
$color--warning:#f7b500;
$color--spacer: #d8d8d8;

$color-button-secondary-background: #f4f4f4;
$color-button-danger-rounded-background: #da521f;
$color-button-danger-background: #e02020;
$color-button-disabled: #f1eaea;

$color-border: #bebdb8;
$color-card-background-img: #f6f6f6;
$color-card-background-img--warning: $color--warning-background;

$color-badge-background: $color--success-background;
$color-badge-text: $color--success-text;

$color-badge-background--danger: $color--error-background;
$color-badge-text--danger: $color--error-text;
$color-badge-background--warning: $color--warning-background;
$color-badge-text--warning: $color--warning;

$color-pagination--acent: #015b7f;

$color-uploader-background: rgba(1, 91, 127, 0.05);
$color-uploader-background--highlight: rgba(1, 91, 127, 0.15);
$color-uploader-background-overlay: rgba(255, 255, 255, 0.8);

$color-input-background: rgba(139, 150, 165, 0.1);

$color--text-pale: #95ae8d;
$color--text-disabled: #aaafa9;
$color--text-error: #e4416f;
$color--bg-gray: #f7f8f8;
$color--bg-gray-dark:#ececec;

$color-button-background: #313537;

$color--primary10: #f8fff6;
$color--primary50: #e9f4e5;
$color--primary100: #d7e6d0;
$color--primary200: #c4d7ba;
$color--primary300: #aec5a0;
$color--primary400: #96b284; 
$color--primary500: #7a9c64;
$color--primary600: #5b8240;
$color--primary700: #39651b;
$color--primary800: #1b4304;
$color--primary900: #091f03;

$color--gray50: #EEEFEE;
$color--gray100: #DFE0DF;
$color--gray200: #D0D0D0;
$color--gray300: #BCBDBC;
$color--gray400: #A8A9A7;
$color--gray500: #8E8F8D;
$color--gray600: #717270;
$color--gray700: #50524F;
$color--gray800: #323331;
$color--gray900: #1B1C1B;

