@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand-Bold';
  font-style: bold;
  font-weight: bold;
  src: url('/fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Work_Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'Work_Sans-Medium';
  font-weight: 500;
  src: url('/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

@font-face {
  font-family: 'Work_Sans-SemiBold';
  font-weight: 600;
  src: url('/fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Work_Sans-Bold';
  font-style: bold;
  font-weight: 900;
  src: url('/fonts/Work_Sans/static/WorkSans-Bold.ttf');
}
