$main-font: 'Quicksand', sans-serif;
$main-font--bold: 'Quicksand-Bold', sans-serif;
$secondary-font: 'Work_Sans', sans-serif;
$secondary-font--bold: 'Work_Sans-Bold', sans-serif;
$secondary-font--semibold: 'Work_Sans-SemiBold', sans-serif;
$secondary-font--medium: 'Work_Sans-Medium', sans-serif;

$font-size: 16px;
$font-menu: 20px;
$line-height: 1.75em;
$font-size-h1: 2.5rem;
$font-size-h2: 2.25rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;

$font-size-big: 28px;
$font-size-medium: 14px;
$font-size-small: 11px;
$font-size-10: 10px;
$font-size-13: 13px;
$font-size-15: 15px;
$font-size-17: 17px;
$font-size-19: 19px;
$font-size-22: 22px;
$font-size-24: 24px;

.family-roboto {
  font-family: 'Roboto';
}

.family-robotoBold {
  font-family: 'Roboto-Bold' !important;
}

.family-nunito {
  font-family: 'Nunito' !important;
}

.family-nunitoBold {
    font-family: 'Nunito-Bold' !important;
  }
