@import '../../theme/index';

.button {
  border-radius: 28px;
  border: 0;
  height: 43px;
  opacity: 1;
  outline: none !important;
  display: flex;
	justify-content: center;
	align-items: center;
  width: auto;
  min-width: 120px;
	padding: .5em 2em;	
	text-decoration: none;	
  transition: 0.4s;    

  &-icon-container {        
    padding-right: 5px;
    height: 30px;
    width: 30px;
  }

  &-text{
    font-family: $main-font;
    font-size: $font-size-medium;
    font-weight: 800;
  }
}

button:not(:disabled) {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.primary {
  background: $color--accent;
  color: $color-white;
  svg{
    fill: $color-white;    
    g{
      stroke: $color-white;
    }
  }  
}

.secondary {
  background: $color-button-secondary-background;
  color: $color--accent; 
  svg{
    fill: $color--accent;
    g{
      stroke: $color--accent;
    }
  }
}

.danger-rounded{
  border-radius: 28px;
  background: $color-button-danger-rounded-background;
  color: $color-white;
  svg{
    fill: $color-white;
    g{
      stroke: $color-white;
    }
  }
}

.danger{  
  background: $color-button-danger-background;
  color: $color-white;
  svg{
    fill: $color-white;
    g{
      stroke: $color-white;
    }
  }
}

.disabled{
  background: $color-button-disabled;
  color: $color-white;
  svg{
    fill: $color-white;
    g{
      stroke: $color-white;
    }
  }
}

.default {
  background: $color--accent;
  color: $color-white;
  svg{
    fill: $color-white;
    g{
      stroke: $color-white;
    }
  } 
}

.flat {
  border-radius: 0;
  background: transparent;
  color: $color--text-main-light;
  svg{
    fill: $color--text-main-light;
    g{
      stroke: $color--text-main-light;
    }
  } 
  &--blue{
    @extend .flat;
    color: $main-color;
    svg{
      fill: $main-color;
      g{
        stroke: $main-color;
      }
    } 
  }
}
